name: terraform-validate

on:
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (no backend)
        run: terraform init -backend=false
        working-directory: testing

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
        working-directory: testing

      - name: Terraform Validate
        run: terraform validate
        working-directory: testing
